/**
 * HEADER.MODULE.CSS
 */
#weekNumber {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--padding);
  width: 90%;
  font-size: 2rem;
  text-transform: uppercase;
}
.weekNb {
  background: var(--primary);
  color: var(--secondary);
  padding: 10px;
}
#week {
  display: flex;
  width: calc(100vw - 10px);
  justify-content: space-evenly;
 }
 #week > span {
  padding-bottom: 10px;
  text-transform: uppercase;
 }
 .active {
  border-bottom: 4px solid var(--active);
 }
 .backArrow {
  font-family: sans-serif;
  font-size: 1.25rem;
 }