/**
 * HEADER.MODULE.CSS
 */
#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  margin: 0 auto;
  width: 60%;
  font-size: 3rem;
  border-radius: 8px;
  color: var(--secondary);
  background: var(--primary);
}
#calendar > div:first-child {
  font-size: .8rem;
  text-transform: uppercase;
}
#calendar > div:first-child > span:nth-child(2) {
  color: var(--active);
}
#calendar > div:nth-child(2) {
  position: relative;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  animation: 200s ease-in-out fade-in;
}
#calendar > div:nth-child(2)::after {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  content: ' ';
  border-bottom: 2px solid var(--secondary);
}
#calendar > div:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.5rem;
  animation: 200s ease-in-out fade-in;
}
#week {
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#week > span {
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  border-radius: 15px;
  width: 100%;
  transition: all .1s ease-in-out;
}
.active {
  background: var(--primary);
  color: var(--secondary);
}

/* ANIMATIONS ___________________________________ */
@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  .1% { opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  .1% { opacity: 1; }
}
