/**
 * KEBAB.MODULE.CSS
 */
#Kebab {
  padding: 0;
  margin: 0;
}
#Kebab > #button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: all .1s ease-in-out;
  cursor: pointer;
}
#Kebab > #button.active {
  background: rgb(50, 50, 50);
}
#Kebab > #button > .dot {
  height: 3px;
  width: 3px;
  margin: 1.5px;
  border-radius: 2px;
  background: var(--primary);
}
#overlay {
  position: absolute;
  inset: 0;
  visibility: hidden;
  background: black;
  opacity: 0;
  height: 100vh;
  transition: all .1s ease-in-out .1s;
}
#overlay.active {
  visibility: visible;
  opacity: 0.75;
}
#bottomSheet {
  background: var(--secondary);
  border-radius: 10px;
  position: fixed;
  margin: 0 8px 24px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  min-height: 25vh;
  font-family: "Roboto","Arial",sans-serif;
  transition: all .1s ease-in-out;
}
#bottomSheet.active {
  opacity: 1;
}
#bottomSheetRuler {
  border: 2px solid var(--primary);
  height: 0;
  width: 35px;
  border-radius: 4px;
  margin: 10px auto;
  opacity: 0.15;
}
#bottomSheetItems {
  display: flex;
  flex-direction: column;
  margin: 12px;
}
#bottomSheetItems > div {
  margin: 10px 0;
}
/* RESPONSIVE ______________________________________ */
@media screen and (min-width: 500px ) {
  #bottomSheet {
    width: 480px;
    left: auto;
    right: auto;
  }
}