/**
 * @UPLOADFAIL.MODULE.CSS
 */
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.img {
  opacity: 0.5;
}
#wrapper > div:last-of-type {
  padding: 20px 0;
}