/**
 * @MENU.MODULE.CSS
 */
#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}
#wrapper > form {
  display: flex;
  flex-wrap: wrap;
}
#wrapper > form > label {
  margin: 20px;
}
#wrapper > form > label > input {
  display: none;
}
#wrapper > div:last-of-type {
  opacity: 0.9;
  font-size: .75rem;
}
/* For styling <Image /> elements, no cascading tree > > > */
.FFFF {
  height: 50px;
  opacity: 0.25;
  width: 100%;
  cursor: pointer;
}