/**
 * APP & CSS by JB PELLIER @https://github.com/JeqnBat
 * Home Component
 */
:root {
  --primary: white;
  --secondary: rgb(40, 42, 44);
	--active: slategrey;
  --body-font: 'Verdana', sans-serif;
  --monospace: monospace;
  --padding: 12px;
}
html, body {
  margin: 0;
  padding: 0;
}
.container {
  background: var(--secondary);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary);
  font-family: var(--body-font);
}