/**
 * APP & CSS by JB PELLIER @https://github.com/JeqnBat
 * Home Component
 */

/** ================ INDEX ================ 
 *
 * 1. GLOBAL STYLES & VARIABLES
 * 2. CUSTOM FONTS
 * 3. RESPONSIVE
 *
 */

/* 1. GLOBAL STYLES & VARIABLES ____________________ */
:root {
  --primary: white;
  --secondary: #1d1d20;
	--active: rgb(255, 0, 102);
  --body-font: Arial, Helvetica, sans-serif;
  --monospace: monospace;
  --padding: 12px;
  --logo-font: 'Honey'
}
html, body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
}
body.overlay-active {
  overflow: hidden;
}
#container {
  position: relative;
  background: var(--secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary);
  font-family: var(--body-font);
  width: 100vw;
}
.spacer {
  width: auto;
  height: 30px;
}
.spacinho {
  width: auto;
  height: 1px;
}
.hide {
  display: none;
}
/* CUSTOM FONTS ____________________________________ */
@font-face {
	font-family: 'Honey';
	src: url('../public/fonts/Honey.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* RESPONSIVE ______________________________________ */
@media screen and (min-width: 500px ) {
  #container {
    width: 500px;
  }
}